<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageUserServlet</display-name>
    <servlet-name>manageUserServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.manageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageUserServlet</servlet-name>
    <url-pattern>/manageUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserExamServlet</display-name>
    <servlet-name>UserExamServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.UserExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExamServlet</servlet-name>
    <url-pattern>/UserExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageExamServlet</display-name>
    <servlet-name>manageExamServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.manageExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageExamServlet</servlet-name>
    <url-pattern>/manageExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserServlet</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.addUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addExamServlet</display-name>
    <servlet-name>addExamServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.addExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addExamServlet</servlet-name>
    <url-pattern>/addExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExamServlet</display-name>
    <servlet-name>DeleteExamServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.DeleteExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExamServlet</servlet-name>
    <url-pattern>/DeleteExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditExamServlet</display-name>
    <servlet-name>EditExamServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.EditExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditExamServlet</servlet-name>
    <url-pattern>/EditExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manageScoreServlet</display-name>
    <servlet-name>manageScoreServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.manageScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageScoreServlet</servlet-name>
    <url-pattern>/manageScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditUserServlet</display-name>
    <servlet-name>UserEditUserServlet</servlet-name>
    <servlet-class>com.xsy.maven.web.UserEditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditUserServlet</servlet-name>
    <url-pattern>/UserEditUserServlet</url-pattern>
  </servlet-mapping>
</web-app>